@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Jobs Application";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This is a basic web application using ASP.NET and Entity Framework. 
    <br>With this app we want to make it easier for people to look and apply for jobs.
</p>
