@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-md-3" style="width: 400px;">
        <h2>Samuil Ivanov</h2>
        <ul>
            <li>Studying computer<br>networks at <a href="http://www.elsys-bg.org/" target="_blank">ELSYS</a></li>
            <li>Email: samuil2001ivanov@gmail.com</a></li>
            <li>Github: <a href="https://github.com/samuilivanov23" target="_blank">samuilivanov23</a></li>
        </ul>
        <img src="~/images/svi.jpeg" alt="SVI go nqma" style="height: 400px;" />
    </div>

    <div class="col-md-3" style="padding-left: 30px; width: 400px;">
        <h2>George Stefanov</h2>
        <ul>
            <li>Studying computer<br>networks at <a href="http://www.elsys-bg.org/" target="_blank">ELSYS</a></li>
            <li>Email: georgi.stefanov2001@gmail.com</a></li>
            <li>Github: <a href="https://github.com/GeorgiStefanov2001" target="_blank">GeorgiStefanov2001</a></li>
        </ul>
        <img src="~/images/GAS_pic.jpg" alt="GAS go nqma" style="height: 400px;" />
    </div>
</div>